@font-face {
  font-family: 'Blocktopia';
  src: url("./fonts/blocktopia/Blocktopia.ttf");
}

@font-face {
  font-family: "TheleahFat";
  src: url("./fonts/thaleahfat/ThaleahFat.ttf");
}

// SCSS ПЕРЕМЕННЫЕ, ШАБЛОНЫ, МИКСИНЫ
@import "utils";

// СБРОС СТИЛЕЙ
@import "default-styles";

body {
  min-height: 100vh;
  background-color: $color-darkest;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__container {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 991px) {
    padding: 0 20px 0 20px;
    flex-direction: row-reverse;
  }

  @media (max-width: 767px) {
    padding: 12px 20px 0 20px;
  }

  @media (max-width: 575px) {
    padding: 8px 12px 0 12px;
  }
}

.header__logo {
  min-width: 80px;
  min-height: 100px;
  background-image: url('../images/logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @media (max-width: 991px) {
    min-width: 60px;
    min-height: 80px;
  }

  @media (max-width: 767px) {
    min-width: 60px;
    min-height: 80px;
  }

  @media (max-width: 575px) {
    min-width: 56px;
    min-height: 60px;
  }
}

.header__heading {
  margin: 16px 0 0 0;
  font-family: 'Blocktopia';
  font-size: 120px;
  color: $color-main;

  @media (max-width: 991px) {
    font-size: 100px;
  }

  @media (max-width: 767px) {
    font-size: 72px;
  }

  @media (max-width: 575px) {
    font-size: 60px;
  }
}

.main {
  width: 100%;
  margin: 60px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 991px) {
    margin: 40px 0 0 0;
  }

  @media (max-width: 575px) {
    margin: 32px 0 0 0;
  }
}

.main__container {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: row;

  @media (max-width: 991px) {
    padding: 0 20px 0 20px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }

  @media (max-width: 575px) {
    padding: 0 12px 0 12px;
  }
}

.main__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.main__list {
  width: 100%;
  padding: 0 12px 0 24px;

  @media (max-width: 991px) {
    padding: 0 12px 0 18px;
  }

  @media (max-width: 767px) {
    padding: 0 0 40px 20px;
  }

  @media (max-width: 575px) {
    padding: 0 0 32px 18px;
  }
}

.main__list-element {
  max-width: 90%;
  list-style: square;
  font-family: 'TheleahFat';
  font-size: 34px;
  color: $color-main;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @media (max-width: 991px) {
    font-size: 30px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @media (max-width: 767px) {
    font-size: 28px;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  @media (max-width: 575px) {
    font-size: 24px;
  }
}

.main__list-link {
  color: $color-accent;
  text-decoration: underline;
}

.main__illustrations {
  width: 50%;

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    margin: 0 0 80px 0;
  }

  @media (max-width: 575px) {
    margin: 0 0 64px 0;
  }
}

.main__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.itc-slider-wrapper {
  background-color: transparent;
}

.footer {
  width: 100%;
  margin: auto 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-main;
}

.footer__container {
  max-width: 900px;
  width: 100%;
  padding: 16px 0 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 991px) {
    padding: 12px 0 12px 0;
  }
}

.footer__link {
  font-family: 'TheleahFat';
  font-size: 34px;
  color: $color-dark;
  text-decoration: underline;

  @media (max-width: 991px) {
    font-size: 30px;
  }

  @media (max-width: 767px) {
    font-size: 28px;
  }

  @media (max-width: 575px) {
    font-size: 24px;
  }
}
